header {
    height : 10%;
    background-color: lightblue;
}

#principal {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    min-height: 80%;
}

nav {
    background-color: lightgray;
    flex: 1 6 10%;
    order: 1;
}

article {
    background-color: lemonchiffon;
    flex: 6 6 20%;
    order: 2;
}
footer {
    background-color: lightgreen;
    height: 5%;
}